body {
    font-family: Arial, sans-serif;
    background-color: #0b3d2e;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.navbar-left .fas {
    font-size: 24px;
    color: green;
}

.navbar-center {
    display: flex;
    gap: 20px;
}

.navbar-center a {
    color: #94bc4f;
    text-decoration: none;
    font-size: 18px;
}

.navbar-right .search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid green; /* Borde del espacio de búsqueda */
    background-color: transparent; /* Color transparente */
    padding: 5px;
    border-radius: 24px;
}

.navbar-right .search-container .fas {
    color: white; /* Icono de lupa blanca */
}

.navbar-right .search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent; /* Color transparente */
    color: green; /* Color del texto */
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.section {
    width: 45%;
    background-color: #00695c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.section.left img {
    order: 1;
    margin-right: 20px;
}

.section.right img {
    order: 2;
    margin-left: 20px;
}

.section .text {
    order: 2;
}

.section.right .text {
    order: 1;
}

.section img {
    width: 50%;
    border-radius: 10px;
}

.section h2 {
    margin-top: 0;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}
