@import url('https://fonts.googleapis.com/css2?family=Note+Serif+Display+ExtraCondensed:wght@200&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #0b3d2e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiar align-items a flex-start para mover el formulario hacia arriba */
    height: 100vh;
    margin: 0;
    padding-top: 20px; /* Añadir un poco de espacio superior */
}

.container {
    padding: 30px; /* Aumentar padding */
    width: 500px; /* Aumentar ancho */
    color: #ffffff; /* Cambiar color del texto */
    letter-spacing: 2px; /* Espacio entre letras */
    position: relative; /* Añadir posición relativa para el contenedor */
}

h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Noto Serif Display', serif; /* Aplicar la fuente al título */
    font-weight: 200; /* Asegurarse de que no sea negrita */
    font-stretch: expanded; /* Hacer que la fuente se vea más alargada */
    font-size: 3.2em; /* Aumentar tamaño de la fuente */
}

.form-group {
    margin-bottom: 20px; /* Aumentar margen inferior */
}

label {
    display: block;
    margin-bottom: 10px; /* Aumentar margen inferior */
    font-size: 1.2em; /* Aumentar tamaño de la fuente */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px; /* Aumentar padding */
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px; /* Aumentar espacio entre inputs */
    font-size: 1.2em; /* Aumentar tamaño de la fuente */
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 15px; /* Aumentar padding */
    background-color: #76b666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Cambiar color del texto a blanco */
    font-size: 1.2em; /* Aumentar tamaño de la fuente */
}

button:hover {
    background-color: #218838;
}

a {
    color: #28a745;
    text-decoration: none;
    font-size: 1.2em; /* Aumentar tamaño de la fuente */
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    width: 100%;
    font-size: 0.9em; /* Aumentar tamaño de la fuente */
}

.recuerdame {
    display: flex;
    align-items: center;
    font-size: 1.2em; /* Aumentar tamaño de la fuente */
}

.logo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px; /* Ajustar tamaño del logo */
    height: auto;
}
