@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #013927;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #013927;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar a {
    color: #94bc4f;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #013927;
}

.texto-izquierda {
    font-family: 'Noto Serif Display', serif;
    color: #ffffff;
    flex: 1;
    padding-right: 40px;
}

.texto-izquierda h1 {
    font-size: 3em; /* Aumentar tamaño de la fuente */
}

.texto-izquierda h2 {
    font-size: 2em; /* Aumentar tamaño de la fuente */
}

.weather-container {
    flex: 1;
}

.weather-app {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.city-date-section {
    margin-bottom: 20px;
}

.city {
    font-size: 1.5em;
    color: #333;
}

.date {
    font-size: 1em;
    color: #666;
}

.temperature-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.description {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #333;
}

.description i {
    font-size: 2em;
    margin-right: 10px;
}

.temp {
    font-size: 2.5em;
    color: #e74c3c;
}

.additional-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.additional-info div {
    text-align: center;
    margin-bottom: 10px;
}

.additional-info i {
    font-size: 1.5em;
    color: #3498db;
}

.additional-info h3 {
    font-size: 1.2em;
    color: #333;
}

.additional-info p {
    font-size: 1em;
    color: #666;
}

.about-us {
    padding: 40px;
    background-color: #fff;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-us h2 {
    font-size: 2.5em;
    font-family: 'Noto Serif Display', serif;
    color: #013927;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.2em;
    color: #666;
    max-width: 800px;
    margin-bottom: 20px;
}

.about-us img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about-us .mission,
.about-us .vision,
.about-us .values {
    margin-bottom: 20px;
}

.about-us .mission h3,
.about-us .vision h3,
.about-us .values h3 {
    font-size: 2em;
    color: #013927;
    margin-bottom: 10px;
    font-family: 'Noto Serif Display', serif;
}

.about-us .mission p,
.about-us .vision p,
.about-us .values ul {
    font-size: 1.2em;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

.about-us .values ul {
    list-style-type: none;
    padding: 0;
}

.about-us .values li {
    margin-bottom: 10px;
}

.about-us .values li strong {
    color: #013927;
}

.about-us .team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-us .team-member {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.about-us .team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-us .team-member h4 {
    font-size: 1.2em;
    color: #013927;
    margin-bottom: 5px;
}

.about-us .team-member p {
    font-size: 1em;
    color: #666;
}

.contact {
    padding: 40px;
    background-color: #fff;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact h2 {
    font-size: 2.5em;
    font-family: 'Noto Serif Display', serif;
    color: #013927;
    margin-bottom: 20px;
}

.contact form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .form-group {
    margin-bottom: 20px;
    width: 100%;
}

.contact label {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #013927;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

.contact textarea {
    resize: vertical;
    height: 150px;
}

.contact button {
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #218838;
}

.footer {
    background-color: #013927;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    width: 30%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .texto-izquierda {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .about-us .team {
        flex-direction: column;
        align-items: center;
    }

    .about-us .team-member {
        width: 100%;
        max-width: 300px;
    }
}

